.container {
    background-image: url('../../../public/img/snorlax.jpg');
    height: 100vh;
    background-size: cover !important;
    margin: 0;
    position: relative;
  }
  
  .container .content {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
  }

.img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}